doctype html
html(lang="en")
  head
    title Evotek-Crud-Manager
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel="icon" type="image/png" href="images/icon.png")

  body
    <p>#{message}</p>
    if users && users.length > 0
      table.table(class=type)
        thead
          tr
            each head, i in Object.keys(users[0])
              th #{head}
        tbody
          each row,j in users
            tr
              each col,k in row
                if (k === "username")
                  td
                    a(class="profile-link" href=`/users/${col}`) #{col}
                else
                  td #{col}

    if userProfile
      <p>#{userProfile.role}</p>
      <p>#{userProfile.email}</p>
      <p>#{userProfile.username}</p>

    <a href="/login">Login</a>
            
    script(src='vendor/jquery/jquery.min.js')  
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='javascripts/login.js')
